@ellisdon:registry=https://edartifactory.jfrog.io/artifactory/api/npm/ellisdon-private-npm-registry/
//edartifactory.jfrog.io/artifactory/api/npm/ellisdon-private-npm-registry/:_password=QUtDcDhrcUNCNW1jaExhMnB0MXBlanBvMnQxWVBBbUt1OW16aUZZQ0F2TUFyZGhYaEVmNW03a3VKa0tnWWNMQWJNTVpYZG5leA==
//edartifactory.jfrog.io/artifactory/api/npm/ellisdon-private-npm-registry/:username=jason.guo@ellisdon.com
//edartifactory.jfrog.io/artifactory/api/npm/ellisdon-private-npm-registry/:email=jason.guo@ellisdon.com
//edartifactory.jfrog.io/artifactory/api/npm/ellisdon-private-npm-registry/:always-auth=true